* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #E5E4E2;
}

#title {
    font-size: 3rem;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    width: 400px;
    height: 500px;
    border-radius: 2rem;
    background-color: #000;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    text-align: end;
    font-weight: bold;
    background-color: #E5E4E2;
}

#result {
    font-size: 2.5rem;
}

#calculation {
    opacity: 60%;
    height: 50%;
}

#buttons {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

button {
    flex: 20%;
    cursor: pointer;
    font-weight: bold;
    border: 4px solid;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.delete {
    flex: 40%;
    border-color: #E5E4E2;
    color: #E5E4E2;
    background-color: #000;
}
.delete:hover {
    color: #000;
    background-color: #E5E4E2;
}
.delete:active {
    color: #000;
    border-color: #C5C4C2;
    background-color: #C5C4C2;
}

.number {
    border-color: #D45101;
    background-color: #D45101;
}
.number:hover {
    border-color: #E46111;
    background-color: #E46111;
}
.number:active {
    border-color: #B43100;
    background-color: #B43100;
}

.operator {
    border-color: #0A9396;
    background-color: #0A9396;
}
.operator:hover {
    border-color: #2AB3B6;
    background-color: #2AB3B6;
}
.operator:active {
    border-color: #006366;
    background-color: #006366;
}

.extra {
    border-color: #E5E4E2;
    background-color: #E5E4E2;
}
.extra:hover {
    border-color: #F5F4F2;
    background-color: #F5F4F2;
}
.extra:active {
    border-color: #C5C4C2;
    background-color: #C5C4C2;
}

#equal {
    border-color: #228B22;
    background-color: #228B22;
}
#equal:hover {
    border-color: #329B32;
    background-color: #329B32;
}
#equal:active {
    border-color: #026B02;
    background-color: #026B02;
}

#footer {
    display: flex;
    align-items: center;
    padding: 1.5rem 6.5rem;
    border-radius: 1.5rem;
    color: #D45101;
    background-color: #000;
}

.social-media {
    width: 2rem;
}
